* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #050505;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: rgba(5,5,5,0.5);
    backdrop-filter: blur(10px);
}


.logo {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 8px;
}


nav a {
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-size: 14px;
    opacity: 0.7;
    transition: 0.3s;
}


nav a:hover {
    opacity: 1;
}


/* HERO */

.hero {

    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 60px;

    background:
    radial-gradient(circle at center,
    #222 0%,
    #050505 50%);

}


.hero-content {
    animation: fade 1.5s ease;
}


.small {

    font-size: 14px;
    letter-spacing: 5px;
    color: #999;
    margin-bottom: 30px;

}


h1 {

    font-size: clamp(60px,8vw,120px);
    line-height: 0.9;
    font-weight: 700;
    letter-spacing: -5px;

}


.description {

    margin-top: 35px;
    color:#aaa;
    font-size:20px;

}


.button {

    display:inline-block;
    margin-top:50px;
    padding:18px 35px;
    border:1px solid #444;
    color:white;
    text-decoration:none;
    transition:0.4s;

}


.button:hover {

    background:white;
    color:black;

}



/* PROJECTS */


section {

    padding:120px 60px;

}


h2 {

    font-size:60px;
    margin-bottom:60px;

}


.cards {

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

}


.card {

    height:350px;
    padding:35px;

    border:1px solid #222;
    background:#0b0b0b;

    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    transition:0.5s;

}


.card:hover {

    transform:translateY(-10px);
    border-color:#555;

}


.card h3 {

    font-size:32px;

}


.card p {

    color:#888;
    margin-top:15px;

}



/* ABOUT */


#about p,
#contact p {

    max-width:700px;
    font-size:28px;
    line-height:1.5;
    color:#aaa;

}



/* ANIMATION */


@keyframes fade {

from {
    opacity:0;
    transform:translateY(40px);
}

to {
    opacity:1;
    transform:none;
}

}



/* MOBILE */


@media(max-width:800px){

header {
    padding:25px;
}


nav {
    display:none;
}


.hero {
    padding:25px;
}


section {
    padding:80px 25px;
}


.cards {
    grid-template-columns:1fr;
}


h2 {
    font-size:40px;
}

}
