*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:#000;
color:#fff;
font-family:Arial, Helvetica, sans-serif;

}



.hero{

height:100vh;
position:relative;
overflow:hidden;

}



.background-video{

position:absolute;
width:100%;
height:100%;
object-fit:cover;

}



.overlay{

position:absolute;
inset:0;
background:rgba(0,0,0,0.45);

}



header{

position:absolute;
top:45px;
left:55px;
right:55px;

display:flex;
justify-content:space-between;
align-items:center;

z-index:2;

}



.logo{

font-size:26px;
letter-spacing:8px;
line-height:1.1;

}



nav{

display:flex;
gap:45px;

}



nav a{

font-size:16px;
letter-spacing:2px;

}




.hero-content{

position:absolute;

z-index:2;

right:8%;
top:25%;

}



.label{

font-size:16px;
letter-spacing:8px;
margin-bottom:35px;

}



h1{

font-size:85px;
font-weight:300;
line-height:0.95;
letter-spacing:3px;

}



p{

margin-top:35px;

font-size:20px;
line-height:1.5;
letter-spacing:2px;

}



.categories{

margin-top:55px;

font-size:15px;
letter-spacing:5px;

}
